
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #0f141e;
  background: #f1f1f1;
}

a {
  color: #706a6a !important;
  text-decoration: none;
}

a:active {
  color: green !important;
}

a:hover {
  text-decoration: underline;
}

a:visited{
  color: rgb(0, 139, 90) !important;
}

.container {
  margin: auto;
  max-width: 700px;
  padding-top: 30px;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.info-text h1 {
  margin-top: 0;
}

.info-text .about {
  font-style: italic;
  font-weight: bold;
  color: #86898f
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }

  .info-text {
    margin-top: 20px;
  }
}

.bg-green {
  background: rgb(214, 231, 214);
}

.bg-blue {
  background: rgb(206, 206, 224);
}

.card {
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2{
  margin-bottom: 5px;
}

.avatar img {
  width: 150px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn {
  background: #0f141e;
  color: #ddd;
  border: 0px;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.list-hobbies {
  margin: 0;
  padding: 0;
}

.list-hobbies li {
  margin: 8px 40px;
}

.table-exp {
  width: 100%;
}

.table-exp thead {
  text-align: left;
}

.table-exp td {
  border-radius: 10px;
  padding: 10px;
}

.table-exp td:hover {
  background: rgb(162, 162, 236);
}

.table-exp tr:nth-child(even) {
  background: #f1f1f1;
}

.table-exp td:nth-child(3) {
  width: 80px;
}

.form h2{
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

@media (max-width: 650px) {
  .form-row {
    display: block;
  }
  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}